<!DOCTYPE html>
<html>
  <head>
    <title>URL Reduce</title>
    <meta name="description" content="URL shortener microservice">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1> URL Reduce </h1>
    </header>
    <div class="col-md-4"></div>
    <div id="url-form" class="col-md-4">
      <input id="url-to-shorten" placeholder="Enter URL here"><button id="get-url-button">Get shortened URL</button>
    </div>
    <div class="col-md-4"></div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
</html>
